body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: black;
  color: #616161;
  line-height: 1.5;
  font-family: 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, Courier, monospace;
}
